.DS_Store
**/.config/*
!**/yabai
!**/.config/scripts
!**/.config/skhd
!**/.config/alacritty
!**/.config/i3
!**/.config/gtk-*
!**/.config/dunst
!**/.config/polybar
!**/.config/rofi
!**/.config/nvim
!**/.config/k9s
!**/.config/neofetch
!**/.config/mc
!**/.config/ranger
!**/.config/weechat
!**/.config/flameshot
!**/.config/lazygit

