[Desktop Entry]
Version=1.0
Name=Gordons Reloading Tool
Type=Application
Comment=Tool for reloading
Exec=wine /opt/GordonsReloadingTool-2021.2030-NIGHTLY/GordonsReloadingTool.exe
Icon=/opt/GordonsReloadingTool-2021.2030-NIGHTLY/plugins/GRTrace/media/icons/icn_grtrace_32x32.png
Categories=Hobbies;
Keywords=grt;gordon;reloading
