[Desktop Entry]
Version=1.0
Name=Gordons Reloading Tool
Type=Application
Comment=Tool for reloading
Exec=wine /opt/GordonsReloadingTool/GordonsReloadingTool.exe
Icon=/opt/GordonsReloadingTool/plugins/GRTrace/media/icons/icn_grtrace_32x32.png
Categories=Hobbies;
Keywords=grt;gordon;reloading
