[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=YouTube
Exec=brave-browser --app=https://youtube.com
Icon=/home/soul/repos/config/icons/youtube.png
